<h2>Welcome to my to do list!</h2>
​
<button (click)="changeTitle('Cool new title')">
  Complete Task
</button>
​
<!--Think of ngfor like a foreach loop, but you use of instead of in -->
<div *ngFor="let item of items; index as i">
  <app-todo task="task"></app-todo>
  <p>{{i}}: {{task}}</p>

</div>

<app-todo task="clean room" completed=true></app-todo>
<app-todo task="do dishes" completed=false></app-todo>
<app-todo task="mow lawn" completed=false></app-todo>
<app-todo task="get mail" completed=true></app-todo>
